#include <windows.h>
//#include "zlib.h"

#define IDR_VERSION1  1
IDR_VERSION1 VERSIONINFO	MOVEABLE IMPURE LOADONCALL DISCARDABLE
 PRODUCTVERSION 3,0
 FILEVERSION 1,2,10,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS 1
#else
 FILEFLAGS 0
#endif
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE 0	// Unused
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		// Language ID = US English, char set = Windows, Multilingual
		BLOCK "040904E4"
		BEGIN
			VALUE "ProductName", "Envy ZLib\0"
			VALUE "ProductVersion", "3.0\0"
			VALUE "FileVersion", "1.2.10.0\0"
			VALUE "InternalName", "zlib\0"
			VALUE "OriginalFilename", "zlib.dll\0"
			VALUE "FileDescription", "zlib data compression library\0"
			VALUE "Comments", "www.zlib.net (DLL support)\0"
			VALUE "LegalCopyright", "(C) 1995-2016 Jean-loup Gailly & Mark Adler\0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1252
	END
END
